USE [master]
GO
/****** Objeto: Database [GestionExtracurricular] Fecha de script: 6/10/2026 19:00:18 ******/
CREATE DATABASE [GestionExtracurricular]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionExtracurricular', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GestionExtracurricular.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionExtracurricular_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GestionExtracurricular_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionExtracurricular].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionExtracurricular]
GO
/****** Objeto: UserDefinedFunction [dbo].[fn_ValidarInstructor] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Valida instructor
CREATE FUNCTION [dbo].[fn_ValidarInstructor](@Carnet VARCHAR(10))
RETURNS BIT
AS
BEGIN
    DECLARE @EsValido BIT = 0;
    IF EXISTS (
        SELECT 1 
        FROM Usuarios u
        JOIN Roles r ON u.IdRol = r.IdRol
        WHERE u.Carnet = @Carnet 
          AND u.Activo = 1 
          AND r.NombreRol = 'Instructor'
    )
    BEGIN
        SET @EsValido = 1;
    END
    RETURN @EsValido;
END;

GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Carnet] [varchar](10) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[Carrera] [varchar](150) NOT NULL,
	[Campus] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[CorreoElectronico] [varchar](50) NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cursos] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[IdCurso] [int] IDENTITY(1,1) NOT NULL,
	[NombreCurso] [varchar](150) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Horario] [varchar](100) NOT NULL,
	[CupoMaximo] [int] NOT NULL,
	[Estado] [varchar](20) NULL,
	[CarnetInstructor] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InscripcionCursos] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InscripcionCursos](
	[IdInscripcion] [int] IDENTITY(1,1) NOT NULL,
	[Carnet] [varchar](10) NOT NULL,
	[IdCurso] [int] NOT NULL,
	[Nota] [decimal](4, 2) NULL,
	[FechaInscripcion] [datetime] NULL,
	[EstadoInscripcion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estudiante_Curso] UNIQUE NONCLUSTERED 
(
	[Carnet] ASC,
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[uv_DetalleInscripcionesCursos] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista inscripciones cursos
CREATE VIEW [dbo].[uv_DetalleInscripcionesCursos] AS
SELECT 
    i.IdInscripcion,
    u.Carnet,
    u.NombreCompleto AS NombreEstudiante,
    u.Carrera,
    u.Campus,
    c.IdCurso,
    c.NombreCurso,
    c.FechaInicio,
    c.FechaFin,
    c.Horario,
    c.CupoMaximo,
    i.Nota,
    i.FechaInscripcion,
    i.EstadoInscripcion,
    inst.NombreCompleto AS NombreInstructor
FROM InscripcionCursos i
JOIN Usuarios u ON i.Carnet = u.Carnet
JOIN Cursos c ON i.IdCurso = c.IdCurso
LEFT JOIN Usuarios inst ON c.CarnetInstructor = inst.Carnet;

GO
/****** Objeto: Table [dbo].[Asociaciones] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asociaciones](
	[IdAsociacion] [int] IDENTITY(1,1) NOT NULL,
	[Acronimo] [varchar](20) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[AnioFundacion] [int] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Formulario] [nvarchar](max) NULL,
	[ImgUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsociacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MembresiaAsociaciones] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembresiaAsociaciones](
	[IdMembresia] [int] IDENTITY(1,1) NOT NULL,
	[Carnet] [varchar](10) NOT NULL,
	[IdAsociacion] [int] NOT NULL,
	[Rol] [varchar](50) NULL,
	[FechaSolicitud] [date] NULL,
	[EstadoValidacion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMembresia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estudiante_Asociacion] UNIQUE NONCLUSTERED 
(
	[Carnet] ASC,
	[IdAsociacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[uv_DetalleMembresiasAsociaciones] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista membresias
CREATE VIEW [dbo].[uv_DetalleMembresiasAsociaciones] AS
SELECT 
    m.IdMembresia,
    u.Carnet,
    u.NombreCompleto AS NombreEstudiante,
    u.Carrera,
    a.IdAsociacion,
    a.Acronimo,
    a.Nombre AS NombreAsociacion,
    m.Rol,
    m.FechaSolicitud,
    m.EstadoValidacion
FROM MembresiaAsociaciones m
JOIN Usuarios u ON m.Carnet = u.Carnet
JOIN Asociaciones a ON m.IdAsociacion = a.IdAsociacion;

GO
/****** Objeto: Table [dbo].[CategoriasDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasDAC](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ActividadesDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadesDAC](
	[IdActividad] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[NombreActividad] [varchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [varchar](20) NULL,
	[CarnetInstructor] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InscripcionesDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InscripcionesDAC](
	[IdInscripcionDAC] [int] IDENTITY(1,1) NOT NULL,
	[Carnet] [varchar](10) NOT NULL,
	[IdActividad] [int] NOT NULL,
	[FechaInscripcion] [datetime] NULL,
	[EstadoInscripcion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInscripcionDAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estudiante_ActividadDAC] UNIQUE NONCLUSTERED 
(
	[Carnet] ASC,
	[IdActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[uv_DetalleInscripcionesDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista inscripciones dac
CREATE VIEW [dbo].[uv_DetalleInscripcionesDAC] AS
SELECT 
    i.IdInscripcionDAC,
    u.Carnet,
    u.NombreCompleto AS NombreEstudiante,
    u.Carrera,
    a.IdActividad,
    a.NombreActividad,
    c.NombreCategoria,
    i.FechaInscripcion,
    i.EstadoInscripcion,
    inst.NombreCompleto AS NombreInstructor
FROM InscripcionesDAC i
JOIN Usuarios u ON i.Carnet = u.Carnet
JOIN ActividadesDAC a ON i.IdActividad = a.IdActividad
JOIN CategoriasDAC c ON a.IdCategoria = c.IdCategoria
LEFT JOIN Usuarios inst ON a.CarnetInstructor = inst.Carnet;

GO
/****** Objeto: Table [dbo].[SeleccionesDeportivas] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeleccionesDeportivas](
	[IdSeleccion] [int] IDENTITY(1,1) NOT NULL,
	[Disciplina] [varchar](50) NOT NULL,
	[Rama] [varchar](20) NOT NULL,
	[NombreEquipo] [varchar](100) NOT NULL,
	[ImgUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ParticipacionDeportiva] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipacionDeportiva](
	[IdParticipacion] [int] IDENTITY(1,1) NOT NULL,
	[Carnet] [varchar](10) NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Modalidad] [varchar](100) NULL,
	[FechaIngreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParticipacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estudiante_Seleccion] UNIQUE NONCLUSTERED 
(
	[Carnet] ASC,
	[IdSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[uv_DetalleParticipacionDeportiva] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista deportes
CREATE VIEW [dbo].[uv_DetalleParticipacionDeportiva] AS
SELECT 
    p.IdParticipacion,
    u.Carnet,
    u.NombreCompleto AS NombreEstudiante,
    u.Carrera,
    s.IdSeleccion,
    s.Disciplina,
    s.Rama,
    s.NombreEquipo,
    p.Modalidad,
    p.FechaIngreso
FROM ParticipacionDeportiva p
JOIN Usuarios u ON p.Carnet = u.Carnet
JOIN SeleccionesDeportivas s ON p.IdSeleccion = s.IdSeleccion;

GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[uv_ListarInstructores] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Instructores activos
CREATE VIEW [dbo].[uv_ListarInstructores] AS
SELECT 
    u.Carnet,
    u.NombreCompleto AS NombreInstructor,
    u.Carrera,
    u.Campus,
    u.Activo,
    u.CorreoElectronico
FROM Usuarios u
JOIN Roles r ON u.IdRol = r.IdRol
WHERE r.NombreRol = 'Instructor';

GO
/****** Objeto: View [dbo].[uv_ListarCursosConCupos] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cursos con cupos
CREATE VIEW [dbo].[uv_ListarCursosConCupos] AS
SELECT 
    c.IdCurso,
    c.NombreCurso,
    c.Descripcion,
    c.FechaInicio,
    c.FechaFin,
    c.Horario,
    c.CupoMaximo,
    c.Estado,
    inst.NombreCompleto AS NombreInstructor,
    COUNT(CASE WHEN i.EstadoInscripcion = 'Confirmada' THEN 1 END) AS CuposOcupados,
    c.CupoMaximo - COUNT(CASE WHEN i.EstadoInscripcion = 'Confirmada' THEN 1 END) AS CuposDisponibles
FROM Cursos c
LEFT JOIN Usuarios inst ON c.CarnetInstructor = inst.Carnet
LEFT JOIN InscripcionCursos i ON c.IdCurso = i.IdCurso
GROUP BY c.IdCurso, c.NombreCurso, c.Descripcion, c.FechaInicio, c.FechaFin, c.Horario, c.CupoMaximo, c.Estado, inst.NombreCompleto;

GO
ALTER TABLE [dbo].[ActividadesDAC] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Cursos] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[InscripcionCursos] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[InscripcionCursos] ADD  DEFAULT ('Confirmada') FOR [EstadoInscripcion]
GO
ALTER TABLE [dbo].[InscripcionesDAC] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[InscripcionesDAC] ADD  DEFAULT ('Activa') FOR [EstadoInscripcion]
GO
ALTER TABLE [dbo].[MembresiaAsociaciones] ADD  DEFAULT ('Miembro') FOR [Rol]
GO
ALTER TABLE [dbo].[MembresiaAsociaciones] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[MembresiaAsociaciones] ADD  DEFAULT ('Pendiente') FOR [EstadoValidacion]
GO
ALTER TABLE [dbo].[ParticipacionDeportiva] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ActividadesDAC]  WITH CHECK ADD FOREIGN KEY([CarnetInstructor])
REFERENCES [dbo].[Usuarios] ([Carnet])
GO
ALTER TABLE [dbo].[ActividadesDAC]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasDAC] ([IdCategoria])
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD FOREIGN KEY([CarnetInstructor])
REFERENCES [dbo].[Usuarios] ([Carnet])
GO
ALTER TABLE [dbo].[InscripcionCursos]  WITH CHECK ADD FOREIGN KEY([Carnet])
REFERENCES [dbo].[Usuarios] ([Carnet])
GO
ALTER TABLE [dbo].[InscripcionCursos]  WITH CHECK ADD FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Cursos] ([IdCurso])
GO
ALTER TABLE [dbo].[InscripcionesDAC]  WITH CHECK ADD FOREIGN KEY([Carnet])
REFERENCES [dbo].[Usuarios] ([Carnet])
GO
ALTER TABLE [dbo].[InscripcionesDAC]  WITH CHECK ADD FOREIGN KEY([IdActividad])
REFERENCES [dbo].[ActividadesDAC] ([IdActividad])
GO
ALTER TABLE [dbo].[MembresiaAsociaciones]  WITH CHECK ADD FOREIGN KEY([Carnet])
REFERENCES [dbo].[Usuarios] ([Carnet])
GO
ALTER TABLE [dbo].[MembresiaAsociaciones]  WITH CHECK ADD FOREIGN KEY([IdAsociacion])
REFERENCES [dbo].[Asociaciones] ([IdAsociacion])
GO
ALTER TABLE [dbo].[ParticipacionDeportiva]  WITH CHECK ADD FOREIGN KEY([Carnet])
REFERENCES [dbo].[Usuarios] ([Carnet])
GO
ALTER TABLE [dbo].[ParticipacionDeportiva]  WITH CHECK ADD FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[SeleccionesDeportivas] ([IdSeleccion])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[ActividadesDAC]  WITH CHECK ADD  CONSTRAINT [CK_Actividad_InstructorValido] CHECK  (([CarnetInstructor] IS NULL OR [dbo].[fn_ValidarInstructor]([CarnetInstructor])=(1)))
GO
ALTER TABLE [dbo].[ActividadesDAC] CHECK CONSTRAINT [CK_Actividad_InstructorValido]
GO
ALTER TABLE [dbo].[ActividadesDAC]  WITH CHECK ADD  CONSTRAINT [CK_EstadoActividadDAC] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[ActividadesDAC] CHECK CONSTRAINT [CK_EstadoActividadDAC]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [CK_Curso_InstructorValido] CHECK  (([CarnetInstructor] IS NULL OR [dbo].[fn_ValidarInstructor]([CarnetInstructor])=(1)))
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [CK_Curso_InstructorValido]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [CK_EstadoCurso] CHECK  (([Estado]='Finalizado' OR [Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [CK_EstadoCurso]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [CK_FechasCurso] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [CK_FechasCurso]
GO
ALTER TABLE [dbo].[InscripcionCursos]  WITH CHECK ADD  CONSTRAINT [CK_EstadoInscripcion] CHECK  (([EstadoInscripcion]='Cancelada' OR [EstadoInscripcion]='En Espera' OR [EstadoInscripcion]='Confirmada'))
GO
ALTER TABLE [dbo].[InscripcionCursos] CHECK CONSTRAINT [CK_EstadoInscripcion]
GO
ALTER TABLE [dbo].[InscripcionesDAC]  WITH CHECK ADD  CONSTRAINT [CK_EstadoInscripcionDAC] CHECK  (([EstadoInscripcion]='Retirada' OR [EstadoInscripcion]='Finalizada' OR [EstadoInscripcion]='Activa'))
GO
ALTER TABLE [dbo].[InscripcionesDAC] CHECK CONSTRAINT [CK_EstadoInscripcionDAC]
GO
ALTER TABLE [dbo].[MembresiaAsociaciones]  WITH CHECK ADD  CONSTRAINT [CK_EstadoValidacion] CHECK  (([EstadoValidacion]='Rechazada' OR [EstadoValidacion]='Aprobada' OR [EstadoValidacion]='Pendiente'))
GO
ALTER TABLE [dbo].[MembresiaAsociaciones] CHECK CONSTRAINT [CK_EstadoValidacion]
GO
ALTER TABLE [dbo].[MembresiaAsociaciones]  WITH CHECK ADD  CONSTRAINT [CK_RolMembresia] CHECK  (([Rol]='Secretario' OR [Rol]='Tesorero' OR [Rol]='Presidente' OR [Rol]='Directiva' OR [Rol]='Miembro'))
GO
ALTER TABLE [dbo].[MembresiaAsociaciones] CHECK CONSTRAINT [CK_RolMembresia]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarCurso] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualiza curso
CREATE PROCEDURE [dbo].[sp_ActualizarCurso]
    @IdCurso INT,
    @NombreCurso VARCHAR(150),
    @Descripcion NVARCHAR(500),
    @FechaInicio DATE,
    @FechaFin DATE,
    @Horario VARCHAR(100),
    @CupoMaximo INT,
    @Estado VARCHAR(20),
    @CarnetInstructor VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM Cursos WHERE IdCurso = @IdCurso)
            BEGIN
                ;THROW 50012, 'El curso especificado no existe.', 1;
            END
            
        UPDATE Cursos
        SET NombreCurso = @NombreCurso, 
            Descripcion = @Descripcion, 
            FechaInicio = @FechaInicio,
            FechaFin = @FechaFin, 
            Horario = @Horario, 
            CupoMaximo = @CupoMaximo, 
            Estado = @Estado,
            CarnetInstructor = @CarnetInstructor
        WHERE IdCurso = @IdCurso;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarUsuario] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualiza usuario
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @Carnet VARCHAR(10),
    @NombreCompleto VARCHAR(100),
    @Carrera VARCHAR(150),
    @Campus VARCHAR(100),
    @Activo BIT,
    @CorreoElectronico VARCHAR(50),
    @NombreRol VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE Carnet = @Carnet)
            BEGIN
                ;THROW 50008, 'El usuario con el carnet especificado no existe.', 1;
            END
            
        DECLARE @IdRol INT = NULL;
        SELECT @IdRol = IdRol FROM Roles WHERE NombreRol = @NombreRol;
        IF @IdRol IS NULL
            BEGIN
                ;THROW 50009, 'El rol especificado no existe.', 1;
            END
            
        UPDATE Usuarios
        SET NombreCompleto = @NombreCompleto, 
            Carrera = @Carrera, 
            Campus = @Campus,
            Activo = @Activo, 
            CorreoElectronico = @CorreoElectronico, 
            IdRol = @IdRol
        WHERE Carnet = @Carnet;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarInscripcionCurso] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cancela curso
CREATE PROCEDURE [dbo].[sp_CancelarInscripcionCurso]
    @Carnet VARCHAR(10),
    @IdCurso INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verifica inscripción
        IF NOT EXISTS (
            SELECT 1 
            FROM InscripcionCursos 
            WHERE Carnet = @Carnet AND IdCurso = @IdCurso AND EstadoInscripcion IN ('Confirmada', 'En Espera')
        )
        BEGIN
            ;THROW 50004, 'No existe una inscripción activa para el estudiante en el curso especificado.', 1;
        END
        
        -- Actualiza
        UPDATE InscripcionCursos
        SET EstadoInscripcion = 'Cancelada'
        WHERE Carnet = @Carnet AND IdCurso = @IdCurso;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarInscripcionDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cancela actividad
CREATE PROCEDURE [dbo].[sp_CancelarInscripcionDAC]
    @Carnet VARCHAR(10),
    @IdActividad INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM InscripcionesDAC WHERE Carnet = @Carnet AND IdActividad = @IdActividad AND EstadoInscripcion = 'Activa')
            BEGIN
                ;THROW 50027, 'No existe una inscripción activa para este estudiante en la actividad artística.', 1;
            END
            
        UPDATE InscripcionesDAC
        SET EstadoInscripcion = 'Retirada'
        WHERE Carnet = @Carnet AND IdActividad = @IdActividad;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarMembresiaAsociacion] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cancela asociación
CREATE PROCEDURE [dbo].[sp_CancelarMembresiaAsociacion]
    @Carnet VARCHAR(10),
    @IdAsociacion INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM MembresiaAsociaciones WHERE Carnet = @Carnet AND IdAsociacion = @IdAsociacion AND EstadoValidacion IN ('Pendiente', 'Aprobada'))
            BEGIN
                ;THROW 50019, 'No existe una membresía activa o pendiente para este estudiante en la asociación.', 1;
            END
            
        UPDATE MembresiaAsociaciones
        SET EstadoValidacion = 'Rechazada'
        WHERE Carnet = @Carnet AND IdAsociacion = @IdAsociacion;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarParticipacionDeportiva] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cancela selección
CREATE PROCEDURE [dbo].[sp_CancelarParticipacionDeportiva]
    @Carnet VARCHAR(10),
    @IdSeleccion INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM ParticipacionDeportiva WHERE Carnet = @Carnet AND IdSeleccion = @IdSeleccion)
            BEGIN
                ;THROW 50023, 'El estudiante no tiene registrada participación en esta selección deportiva.', 1;
            END
            
        DELETE FROM ParticipacionDeportiva
        WHERE Carnet = @Carnet AND IdSeleccion = @IdSeleccion;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearActividadDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crea actividad
CREATE PROCEDURE [dbo].[sp_CrearActividadDAC]
    @IdCategoria INT,
    @NombreActividad VARCHAR(150),
    @Descripcion NVARCHAR(MAX),
    @CarnetInstructor VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM CategoriasDAC WHERE IdCategoria = @IdCategoria)
            BEGIN
                ;THROW 50015, 'La categoría DAC especificada no existe.', 1;
            END
            
        INSERT INTO ActividadesDAC (IdCategoria, NombreActividad, Descripcion, Estado, CarnetInstructor)
        VALUES (@IdCategoria, @NombreActividad, @Descripcion, 'Activo', @CarnetInstructor);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearAsociacion] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearAsociacion]
    @Acronimo VARCHAR(20),
    @Nombre VARCHAR(200),
    @AnioFundacion INT,
    @Descripcion NVARCHAR(MAX),
    @Formulario NVARCHAR(MAX),
    @ImgUrl NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM Asociaciones WHERE Acronimo = @Acronimo)
            BEGIN
                ;THROW 50010, 'Ya existe una asociaciÃ³n con ese acrÃ³nimo.', 1;
            END
            
        INSERT INTO Asociaciones (Acronimo, Nombre, AnioFundacion, Descripcion, Formulario, ImgUrl)
        VALUES (@Acronimo, @Nombre, @AnioFundacion, @Descripcion, @Formulario, @ImgUrl);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearCategoriaDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crea categoría
CREATE PROCEDURE [dbo].[sp_CrearCategoriaDAC]
    @NombreCategoria VARCHAR(100),
    @Descripcion NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM CategoriasDAC WHERE NombreCategoria = @NombreCategoria)
            BEGIN
                ;THROW 50014, 'Ya existe una categoría artística con ese nombre.', 1;
            END
            
        INSERT INTO CategoriasDAC (NombreCategoria, Descripcion)
        VALUES (@NombreCategoria, @Descripcion);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearCurso] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crea curso
CREATE PROCEDURE [dbo].[sp_CrearCurso]
    @NombreCurso VARCHAR(150),
    @Descripcion NVARCHAR(500),
    @FechaInicio DATE,
    @FechaFin DATE,
    @Horario VARCHAR(100),
    @CupoMaximo INT,
    @CarnetInstructor VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
            
        INSERT INTO Cursos (NombreCurso, Descripcion, FechaInicio, FechaFin, Horario, CupoMaximo, Estado, CarnetInstructor)
        VALUES (@NombreCurso, @Descripcion, @FechaInicio, @FechaFin, @Horario, @CupoMaximo, 'Activo', @CarnetInstructor);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearRol] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crea rol
CREATE PROCEDURE [dbo].[sp_CrearRol]
    @NombreRol VARCHAR(50),
    @Descripcion VARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM Roles WHERE NombreRol = @NombreRol)
            BEGIN
                ;THROW 50007, 'El rol ya existe en el sistema.', 1;
            END
            
        INSERT INTO Roles (NombreRol, Descripcion) 
        VALUES (@NombreRol, @Descripcion);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearSeleccionDeportiva] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSeleccionDeportiva]
    @Disciplina VARCHAR(50),
    @Rama VARCHAR(20),
    @NombreEquipo VARCHAR(100),
    @ImgUrl NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM SeleccionesDeportivas WHERE NombreEquipo = @NombreEquipo)
            BEGIN
                ;THROW 50013, 'El nombre de equipo deportivo ya se encuentra registrado.', 1;
            END
            
        INSERT INTO SeleccionesDeportivas (Disciplina, Rama, NombreEquipo, ImgUrl)
        VALUES (@Disciplina, @Rama, @NombreEquipo, @ImgUrl);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_InscribirActividadDAC] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Inscribe actividad
CREATE PROCEDURE [dbo].[sp_InscribirActividadDAC]
    @Carnet VARCHAR(10),
    @IdActividad INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE Carnet = @Carnet)
            BEGIN
                ;THROW 50024, 'El carnet del estudiante no existe.', 1;
            END
        IF NOT EXISTS (SELECT 1 FROM ActividadesDAC WHERE IdActividad = @IdActividad)
            BEGIN
                ;THROW 50025, 'La actividad artística (DAC) especificada no existe.', 1;
            END
            
        DECLARE @EstadoActual VARCHAR(20) = NULL;
        DECLARE @IdInscripcionDAC INT = NULL;
        SELECT @IdInscripcionDAC = IdInscripcionDAC, @EstadoActual = EstadoInscripcion
        FROM InscripcionesDAC WHERE Carnet = @Carnet AND IdActividad = @IdActividad;
        
        IF @EstadoActual IS NOT NULL
        BEGIN
            IF @EstadoActual IN ('Activa', 'Finalizada')
                BEGIN
                    ;THROW 50026, 'El estudiante ya cuenta con una inscripción activa o finalizada para esta actividad.', 1;
                END
            IF @EstadoActual = 'Retirada'
            BEGIN
                UPDATE InscripcionesDAC
                SET EstadoInscripcion = 'Activa', FechaInscripcion = GETDATE()
                WHERE IdInscripcionDAC = @IdInscripcionDAC;
            END
        END
        ELSE
        BEGIN
            INSERT INTO InscripcionesDAC (Carnet, IdActividad)
            VALUES (@Carnet, @IdActividad);
        END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_InscribirEstudianteCurso] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Inscribe a curso
CREATE PROCEDURE [dbo].[sp_InscribirEstudianteCurso]
    @Carnet VARCHAR(10),
    @IdCurso INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verifica estudiante
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE Carnet = @Carnet)
        BEGIN
            ;THROW 50001, 'El estudiante con el carnet especificado no está registrado en el sistema.', 1;
        END
        
        -- Verifica curso
        IF NOT EXISTS (SELECT 1 FROM Cursos WHERE IdCurso = @IdCurso)
        BEGIN
            ;THROW 50002, 'El curso especificado no existe.', 1;
        END
        
        -- Verifica inscripción
        DECLARE @EstadoActual VARCHAR(20) = NULL;
        DECLARE @IdInscripcion INT = NULL;
        
        SELECT @IdInscripcion = IdInscripcion, @EstadoActual = EstadoInscripcion 
        FROM InscripcionCursos 
        WHERE Carnet = @Carnet AND IdCurso = @IdCurso;
        
        IF @EstadoActual IS NOT NULL
        BEGIN
            -- Si está activo, error
            IF @EstadoActual IN ('Confirmada', 'En Espera')
            BEGIN
                DECLARE @MsgError VARCHAR(150) = 'El estudiante ya cuenta con una inscripción activa en este curso. Estado actual: ' + @EstadoActual;
                ;THROW 50003, @MsgError, 1;
            END
            
            -- Si está cancelado, re-inscribe
            IF @EstadoActual = 'Cancelada'
            BEGIN
                DECLARE @CupoMaximo INT;
                DECLARE @InscritosActivos INT;
                
                SELECT @CupoMaximo = CupoMaximo FROM Cursos WHERE IdCurso = @IdCurso;
                SELECT @InscritosActivos = COUNT(*) FROM InscripcionCursos 
                WHERE IdCurso = @IdCurso AND EstadoInscripcion = 'Confirmada';
                
                DECLARE @NuevoEstado VARCHAR(20) = 'Confirmada';
                
                -- Si no hay cupo, espera
                IF @InscritosActivos >= @CupoMaximo
                BEGIN
                    SET @NuevoEstado = 'En Espera';
                END
                
                UPDATE InscripcionCursos
                SET EstadoInscripcion = @NuevoEstado,
                    FechaInscripcion = GETDATE(),
                    Nota = NULL
                WHERE IdInscripcion = @IdInscripcion;
            END
        END
        ELSE
        BEGIN
            -- Inserta
            INSERT INTO InscripcionCursos (Carnet, IdCurso)
            VALUES (@Carnet, @IdCurso);
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_InscribirMembresiaAsociacion] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Inscribe asociación
CREATE PROCEDURE [dbo].[sp_InscribirMembresiaAsociacion]
    @Carnet VARCHAR(10),
    @IdAsociacion INT,
    @Rol VARCHAR(50) = 'Miembro'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE Carnet = @Carnet)
            BEGIN
                ;THROW 50016, 'El carnet ingresado no existe en el sistema.', 1;
            END
        IF NOT EXISTS (SELECT 1 FROM Asociaciones WHERE IdAsociacion = @IdAsociacion)
            BEGIN
                ;THROW 50017, 'La asociación especificada no existe.', 1;
            END
            
        DECLARE @EstadoActual VARCHAR(20) = NULL;
        DECLARE @IdMembresia INT = NULL;
        SELECT @IdMembresia = IdMembresia, @EstadoActual = EstadoValidacion 
        FROM MembresiaAsociaciones WHERE Carnet = @Carnet AND IdAsociacion = @IdAsociacion;
        
        IF @EstadoActual IS NOT NULL
        BEGIN
            IF @EstadoActual IN ('Pendiente', 'Aprobada')
                BEGIN
                    ;THROW 50018, 'El estudiante ya cuenta con una solicitud activa o membresía en esta asociación.', 1;
                END
            IF @EstadoActual = 'Rechazada'
            BEGIN
                UPDATE MembresiaAsociaciones
                SET EstadoValidacion = 'Pendiente', Rol = COALESCE(@Rol, 'Miembro'), FechaSolicitud = GETDATE()
                WHERE IdMembresia = @IdMembresia;
            END
        END
        ELSE
        BEGIN
            INSERT INTO MembresiaAsociaciones (Carnet, IdAsociacion, Rol, EstadoValidacion)
            VALUES (@Carnet, @IdAsociacion, COALESCE(@Rol, 'Miembro'), 'Pendiente');
        END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_InscribirParticipacionDeportiva] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Inscribe selección
CREATE PROCEDURE [dbo].[sp_InscribirParticipacionDeportiva]
    @Carnet VARCHAR(10),
    @IdSeleccion INT,
    @Modalidad VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE Carnet = @Carnet)
            BEGIN
                ;THROW 50020, 'El carnet del estudiante no existe.', 1;
            END
        IF NOT EXISTS (SELECT 1 FROM SeleccionesDeportivas WHERE IdSeleccion = @IdSeleccion)
            BEGIN
                ;THROW 50021, 'La selección deportiva especificada no existe.', 1;
            END
        IF EXISTS (SELECT 1 FROM ParticipacionDeportiva WHERE Carnet = @Carnet AND IdSeleccion = @IdSeleccion)
            BEGIN
                ;THROW 50022, 'El estudiante ya participa en esta selección deportiva.', 1;
            END
            
        INSERT INTO ParticipacionDeportiva (Carnet, IdSeleccion, Modalidad)
        VALUES (@Carnet, @IdSeleccion, @Modalidad);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarUsuario] Fecha de script: 6/10/2026 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Registra usuario
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @Carnet VARCHAR(10),
    @NombreCompleto VARCHAR(100),
    @Carrera VARCHAR(150),
    @Campus VARCHAR(100),
    @CorreoElectronico VARCHAR(50),
    @NombreRol VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verifica rol
        DECLARE @IdRol INT = NULL;
        SELECT @IdRol = IdRol FROM Roles WHERE NombreRol = @NombreRol;
        
        IF @IdRol IS NULL
        BEGIN
            DECLARE @MsgError VARCHAR(150) = 'El rol especificado (' + COALESCE(@NombreRol, 'NULL') + ') no existe en el sistema.';
            ;THROW 50005, @MsgError, 1;
        END
        
        -- Verifica carnet
        IF EXISTS (SELECT 1 FROM Usuarios WHERE Carnet = @Carnet)
        BEGIN
            ;THROW 50006, 'El carnet ingresado ya se encuentra registrado.', 1;
        END
        
        -- Inserta
        INSERT INTO Usuarios (Carnet, NombreCompleto, Carrera, Campus, Activo, CorreoElectronico, IdRol)
        VALUES (@Carnet, @NombreCompleto, @Carrera, @Campus, 1, @CorreoElectronico, @IdRol);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        ;THROW;
    END CATCH
END;

GO
USE [master]
GO
